@use '../../library';

.MuiBox-root {
  &.quizCreate--form {
    display: grid; 
    grid-template-columns: 2fr 2fr;
    margin-top: 5rem;
  }

  .button--cancel {
    grid-auto-flow: column;
    grid-column: 2 / -1;
  }

  .quiz--button-add {
    background-color: library.$coral;
    color: library.$white;
    border: 1px solid library.$coral;
    
    &:hover {
      background-color: library.$peachy;
      border: 1px solid library.$peachy;
    }
  }

  .quiz--button-submit {
    background-color: library.$lightGreen;
    color: library.$white;
    border: 1px solid library.$lightGreen;
    
    &:hover {
      background-color: library.$darkGreen;
      border: 1px solid library.$darkGreen;
    }
  }
}

.MuiFormControl-root {
  &.quiz__answerType {
    background-color: red;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}



.quiz__answerArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quiz__multiAnswerArea {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.quiz__multiAnswers {
  display: flex;
  align-items: center;
}

.quiz__answers {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: -1px;
}