@use '../../library';

.MuiBox-root {
  &.quizCreate--form {
    display: grid; 
    grid-template-columns: 70% 1fr;
    margin: 0.5rem 2rem;

    @media (max-width: 768px) {
      // border: 1px solid rgba(0, 0, 0, 0.12);
      // border-radius: 10px;
      // padding: 0.875rem;
      display: grid;
      grid-template-columns: 100%;
      margin: 0.5rem 0.5rem;
    }
  }

  .button--cancel {
    grid-auto-flow: column;
    grid-column: 2 / -1;
    color: library.$blue;
    :hover {
      cursor: pointer;
      color: library.$peachy;
    }
  }

  .quiz--modicons {
    color: #c7c7c7;
    margin: 0.25rem;
    :hover {
      cursor: pointer;
      color: library.$peachy;
    }
  }

  .quiz--button-add {
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0.25rem;
    // background-color: library.$coral;
    color: library.$blue;
    
    &:hover {
      color: library.$black;
    }
  }

  .add--question-box {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .quiz--button-submit {
    background-color: library.$blue;
    color: library.$white;
    border: 1px solid library.$blue;
    text-transform: capitalize;
    margin-top: 1rem;
    border-radius: 100px;
    font-weight: 600;
    padding: 0.75rem 1.25rem;
    justify-self: flex-end;
    // width: 100%;
    
    &:hover {
      background-color: library.$black;
      border: 1px solid library.$black;
    }
  }

  .quiz--button-area {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
    // margin-bottom: 1rem;

    .quiz--button-cancel {
      color: library.$black;
      font-weight: 600;
  
      &:hover {
        color: library.$blue;
        text-decoration: none;
      }
    }
  }

  .assessment--heading {
    display: grid;
    // grid-column: 1 / 3;
    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 100%;
      margin: 0.5rem 1rem;
    }
  }
  
  .peach--icon {
    grid-column: 2 / 3;
    fill:#f3efe8;
    height: fit-content;
    width: auto;
    padding: 0;
    margin-top: -220px;
    margin-right: -440px;
    font-size: small;
    align-self: flex-end;
  }
}

.MuiFormControl-root {
  &.quiz__answerType {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  &.quizCreate--title {
    margin-bottom: 2rem;
  }
}

.MuiInputBase-root {
  &.quizCreate--answerType-select {
    margin-top: 1rem;
  }
}

.breadcrumb {
  margin-top: 7.5rem;
  margin-left: 2rem;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  @media (max-width: 768px) {
    margin-left: 1rem;
  }

  &.breadcrumb > a, p {
    text-decoration: none;
    color: #3A70CD;
    font-weight: 600;
    font-size: 1.1rem;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
}

.quiz__answerArea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.quiz__multiAnswerArea {
  display: flex;
  flex-direction: column;
}

.quiz__multiAnswers {
  display: flex;
  align-items: baseline;
}

.quiz__answers {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: -1px;
}

.MuiTypography-root {
  &.addQuestion--text {
    color: library.$blue;
    margin-left: 0.25rem;
    &:hover {
      color: library.$black;
    }
  }
}

.quiz__multiAnswerArea {
  &:last-child {
    margin-bottom: 1rem;
  }
}
