@use '../../library';

.MuiBox-root {
  &.pricing--heading {
    color: library.$darkGreen;
  }

  &.pricing--card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &.pricing--box {
    background-color: library.$blue; 
    border-radius: 0.5em; 
    padding: 1em;
    width: 33%;
    margin: 1em 0;
    color: library.$black;
    border: 2px solid black;

    &:nth-child(1) {
      background-color: #3A70CD4D;
    }

    &:nth-child(2) {
      background-color: #57996A33;
    }

    &:nth-child(3) {
      background-color: #DFAF4E33;
    }
    
    @media (max-width: 768px) {
      width: 90%;
    }
  }

  &.pricing-details--box {
    border: 2px solid black;
    border-radius: 0.5em; 
    padding: 1em;
    width: 33%;
    margin: 1em 0;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &.pricing-faq--box {
    width: 50%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

.MuiButton-root {
  &.pricing--button {
    margin: 1em 0;
  }
}

.MuiTypography-root {
  &.pricing--font {
    color: library.$blue;
    font-weight: 800;
  }

  &.pull-quote {
    border-left: 5px solid #000; /* Change the color to your preference */
    margin: 0 0 20px 30px; /* Adjust the margin as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    font-style: italic; /* Change the font style to your preference */
  }
}

li.warning {
  color: library.$orange;
  list-style-type:"☠";
  margin: 0.5em 0;
  padding: 0.1em;
}

li.success {
  list-style-type: "✔";
  color: library.$blue;
  margin: 0.5em 0;
  padding: 0.1em;
}
