@use '../../library';

.MuiBox-root {
  &.pricing--heading {
    color: library.$darkGreen;
  }

  &.pricing--card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &.pricing--box {
    background-color: library.$coral; 
    border-radius: 0.5em; 
    padding: 1em;
    width: 33%;
    margin: 1em 0;
    color: library.$white;
    
    @media (max-width: 768px) {
      width: 90%;
    }
  }

  &.pricing-details--box {
    border: 2px solid black;
    border-radius: 0.5em; 
    padding: 1em;
    width: 33%;
    margin: 1em 0;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &.pricing-faq--box {
    width: 50%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25em;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

.MuiButton-root {
  &.pricing--button {
    margin: 1em 0;
  }
}

.MuiTypography-root {
  &.pricing--font {
    color: library.$coral;
    font-weight: 800;
  }
}
