@use "../../library";

.MuiAppBar-root {
  position: sticky;
}

.MuiTypography-root {
  &.nav--title {
    margin-left: 1rem;
    flex-grow: 1;
  }
}

.MuiButton-root {
  &.login--button {
    color: library.$white;
    text-decoration: none;
  }
}

.MuiSvgIcon-root {
  &.nav--user-actions {
    color: library.$white;
    width: 47px;
    height: 47px;
  }
}