@use "../../library";

.MuiAppBar-root {
  position: sticky;
}

.MuiTypography-root {
  &.nav--title {
    margin-left: 1rem;
    flex-grow: 1;
  }
}

.MuiButton-root {
  &.login--button {
    color: library.$white;
    text-decoration: none;
    text-transform: none;
    padding: 0.5em;
    border-radius: 2em;
  }
}

.MuiButtonBase-root {
  &.dropdown--buttons {
    border: 10px solid transparent;
  }
}

.MuiSvgIcon-root {
  &.nav--user-actions {
    color: library.$white;
    width: 47px;
    height: 47px;
  }
}