.MuiAppBar-root {
  background: linear-gradient(#F67B50, #dd253d);
  position: sticky;
}

.MuiTypography-root {
  &.nav--title {
    flex-grow: 1;
  }
}

.MuiButton-root {
  &.login--button {
    color: white;
    text-decoration: none;
  }
}