.user--playlists {
  margin-left: 2rem;

  @media (max-width: 768px) {
    margin-left: 0.5rem;
  }
}

.user-plan--how-to {
  margin: 0.25rem 0.5rem;
  padding: 1rem;
  min-width: fit-content;
  align-items: center;
  width: fit-content;
  max-width: 100%;
  background-color: rgba(223, 175, 78, 0.1019607843);
  border: 1px solid #182742;
  border-radius: 1.5rem;
}