@use '../../library';

.MuiBox-root {
  &.createPlaylist--box {
    margin-top: 5rem;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

.MuiPaper-root {
  &.createPlaylist--card {
    min-height: 40rem;
    max-height: 40rem;
    min-width: 30rem;
    padding: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &.createQuiz--card {
    min-height: 6rem;
    max-height: 6rem;
    min-width: 40%;
    margin-top: 1rem;
    background-color: library.$darkGreen;
    color: library.$coral;
    align-items: center;
    text-align: center;
  }
}

// TODO With Chris: Stop cards from showing above search bar on scroll.

.MuiFormControl-root {
  &.createPlaylist--search {
    background-color: library.$white;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
  }
}