@use '../../library';

.MuiBox-root {
  &.createPlaylist--box {
    margin: 5rem 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 2rem;
    .createPlaylist--h1, .createPlaylist--button {
      margin-left: 2rem;
    }
  }
}

.MuiPaper-root {
  &.createPlaylist--card {
    min-height: 30%;
    max-height: 40rem;
    min-width: 25rem;
    padding: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &.createQuiz--card {
    min-height: 6rem;
    max-height: 6rem;
    min-width: 40%;
    margin-top: 1rem;
    background-color: library.$darkGreen;
    color: library.$coral;
    align-items: center;
    text-align: center;
  }
  &.lesson--card {
    background-color: library.$coral;
    padding: 1rem; 
    margin: 0.5rem -1rem;
    width: 95%;
    color: library.$white;
  }
}

// TODO With Chris: Stop cards from showing above search bar on scroll.

.MuiFormControl-root {
  &.createPlaylist--search {
    background-color: library.$white;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
}