@use '../../../../library';

.MuiButton-root {
  &.stripe--button {
    margin: 4px 0;
    background: library.$lightGreen;
    text-decoration: none;
    color: white;
    &:hover {
      background: library.$darkGreen;
    }
  }
}

.MuiBox-root {
  &.user--text {
    margin: 5rem 2rem;
    color: library.$darkGreen
  }
}

.MuiTypography-root {
  &.user--text-details {
    color: library.$darkGreen;
    :a {
      text-decoration: none;
      &:hover {
        color: library.$coral
      }  
    }
  }
}