@use '../../library';

.MuiBox-root {
  &.createPlaylist--box {
    margin: 5rem 0;
    overflow-y: hidden;
    overflow-x: hidden;

    // padding-right: 2rem;
    .createPlaylist--h1,
    .createPlaylist--button {
      margin-left: 1rem;

      @media (max-width: 768px) {
        margin: 0;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }
  }

  &.button--slider-playlist {
    margin-bottom: 0.5rem;
    margin-top: -3rem;
    margin-left: 1rem;
    display: flex;
    align-items: last baseline;
  }
}

.MuiPaper-root {
  &.createPlaylist--card {
    min-height: 30%;
    max-height: 37.1rem;
    width: 100%;
    padding: 2rem;
    margin-top: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: 768px) {
      height: 50%;
      width: 100%;
      margin: 0.25rem;
    }
  }

  &.createQuiz--card {
    min-height: 6rem;
    max-height: 6rem;
    min-width: 40%;
    margin-top: 1rem;
    background-color: library.$darkGreen;
    color: library.$coral;
    align-items: center;
    text-align: center;
  }

  &.lesson--card {
    background-color: library.$coral;
    padding: 1rem;
    // margin: 0.25rem 0.25rem;
    width: 95%;
    color: library.$white;

    @media (max-width: 768px) {
      width: 95%;
      // margin: 0.25rem 0.25rem;
    }
  }

  &.createPlaylist-drop--card {
    height: 750px;
    margin: 1rem;
    margin-left: -1rem;
    padding: 2rem;
    overflow-y: scroll;

    @media (max-width: 768px) {
      width: 100%;
      max-height: 50vh;
      margin: 0;
      overflow-y: scroll;
    }
  }
}

// TODO With Chris: Stop cards from showing above search bar on scroll.

.MuiFormControl-root {
  &.createPlaylist--search {
    background-color: library.$white;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}