.lesson--page {
  margin-top: 1rem;
  margin-left: 2rem;

  @media (max-width: 900px) {
    margin-left: 0;
  }
}

.lesson--category {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.MuiBox-root {
  &.lesson-video--section {
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }

    @media (max-width: 1000px) {
      width: 100%;
      height: auto;
    }

    @media (min-width: 2000px) {
      width: 100%;
      height: auto;
    }
  }

  &.lesson--breadcrumb {
    margin: 6rem 0rem 0rem 2rem;

    @media (max-width: 1000px) {
      max-width: 90%;
      margin: 6rem 0rem 0rem 0rem;
    }

    @media (max-width: 768px) {
      max-width: 98%;
      margin: 6rem 0rem 0rem 0rem;
    }
  }

  &.lesson--section {
    margin: 0.5rem 2rem;
    max-width: 80%;
    font-size: 18pt;

    @media (max-width: 1000px) {
      max-width: 90%;
      margin: 0.5rem 0;
    }

    @media (max-width: 768px) {
      max-width: 98%;
      margin: 0.5rem 0;
    }
  }

  &.featuredPlans--section {
    margin-top: 7rem;
    width: 100%;

    @media (max-width: 900px) {
      margin-right: 0.5rem;
      width: 100%;
      margin-top: 0;
    }

    @media (min-width: 900px) {
      top: 7rem;
      position: sticky;
    }
  }

  &.featuredPlan--card {
    width: fit-content;
    margin-right: 2rem;
  }
}

.MuiGrid-container {
  .containCTA {
    max-width: 18rem;
    height: auto;
    justify-content: left;
    margin-top: -4rem;
    margin-left: -4rem;

    @media (min-width: 1000px) {
      justify-content: center;
      align-content: center;
      width: 18rem;
      margin-left: -2rem;
      margin-top: 0.875rem;
    }
  }
}

.MuiButtonBase-root {
  &.bookmark--button {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;

    &:hover {
      color: slategray;
    }
  }
}