@use '../../library';

.MuiDataGrid-root {
  &.catalog--dataTable {
      margin-top: 6rem; 
      min-height: 40rem;
      width: auto;
      height: auto;
      max-height: 90%;
  }
}

.MuiButton-root {
  &.catalogFilters--button {
    background: library.$lightGreen;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    &:hover {
      background: library.$darkGreen;
    }
  }
}

.MuiGrid-root {
  &.catalogGrid--item {
    margin-top: 5.5rem;
    padding-left: 0.5rem;
  }
}

.MuiBox-root {
  &.catalog--cta {
    margin: 1rem 0.5rem;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 1rem;
  }
}