@use '../../library';

.MuiPaper-root {
  &.login--card {
    border: 1px solid black;
    text-align: center;
    min-width: 33%;
    max-width: 60%; 
    height: auto;
    margin: 6em auto;
  }
  &.login--box { 
    display: flex;
    flex-direction: column;
    color: white;
  }
  &.login--text {
    color: library.$darkGreen;
  }
}

.MuiButton-root {
  &.login--button {
    margin: 0 auto;
    background: #ffffff;
    color: #000000;
    border: 1px solid black;
    font-weight: 700;
    border-radius: 100px;
    height: 3rem;
    &:hover {
      color: #fff;
      background-color: #000000;
    }
  }
  &.google--button {
    margin: 0 auto;
    padding: 0.75em;
    color: library.$darkGreen;
    background: white;
    box-shadow:inset 0px 0px 0px 2px library.$darkGreen;
    text-transform: capitalize;
    &:hover {
      box-shadow:inset 0px 0px 0px 3px library.$coral;
      background: white;
    }
  }
}