@use '../../library';

.MuiPaper-root {
  &.login--card {
    margin-top: 5rem;
  }
  &.login--box {
    min-width: 25%;
    width: 5rem; 
    height: 5rem; 
    margin: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  &.login--text {
    color: library.$darkGreen;
  }
}



.MuiButton-root {
  &.login--button {
    background: library.$lightGreen;
    color: library.$white;
    padding: 0.5rem;
    &:hover {
      background: library.$darkGreen;
    }
  }
}