@use '../../library';

.MuiBox-root {
  &.createLesson--page {
    margin: 5rem 2rem;
    display: grid;
    // grid-template-columns: repeat(6, 4fr);
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
  }
  &.createLesson--form {
    grid-column: 1 / -1
  }
  &.createLesson--error {
    margin-top: 5rem;
  }
}

.field--checkboxes {
  margin-top: 1rem;
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: min-content;
  cursor: pointer;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .field--checkboxes-label {
    display: block;
    margin: 1rem 0;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: library.$white;
  font: inherit;
  color: library.$coral;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.15rem solid library.$coral;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.80rem;
  height: 0.80rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1.10rem 1.10rem library.$coral;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
